/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* reset universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos de navbar */
.navbar-brand {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
}

.nav-link {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
}

.active {
    color: yellow !important;
    text-shadow: 0 0 12px yellow;
}

/* estilos de index.html */
.main-content-index {
    background-image: url(https://r4.wallpaperflare.com/wallpaper/1005/822/563/star-wars-death-star-at-at-space-wallpaper-abe6bced53f1bfb9a5847bf93dac5c90.jpg);
    background-size: cover;
    background-position: center;
}

.main-section-img {
    background-image: url(https://e00-marca.uecdn.es/assets/multimedia/imagenes/2023/05/04/16831803848910.jpg);
    height: 50dvh;
    width: 65dvw;
    background-position: center;
    background-size: cover;
    border-radius: 16px !important;
    transition: 0.35s;
}

.hero-section h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
}

.hero-section p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    padding: 16px;
}

.btn-index a {
    color: white !important;
}

.info-general h2 {
    font-family: "Libre Franklin", sans-serif;
    font-size: 28px;
    padding-top: 40px;
    color: aqua;
}

.info-general p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 16px;
}

@media only screen and (min-width: 768px) {

    .info-general p {
        padding: auto;
        margin: auto;
        max-width: 800px;
    }

}

.end-phrase p {
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    color: greenyellow !important;
    text-shadow: 0 0 12px greenyellow;
    padding: 16px;
}

.end-phrase h3 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.end-phrase-img {
    background-image: url(https://static.wikia.nocookie.net/shaniverse/images/9/92/Jinn.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
    border-radius: 16px !important;
}

/* estilos de peliculas.html */
.page-header {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-transform: uppercase;
}

.card {
    transition: 0.35s;
}

.card-img-top {
    height: 392px;
    transition: 0.35s;
}

.card-img-top:hover {
    transform: scale(1.05);
}

.card-text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.card-sequel {
    filter: grayscale();
}

/* estilos de series.html */
.page-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.series {
    display: flex;
    margin: auto;
    width: 50%;
    padding: 24px;
    border: 2px solid aqua;
    box-shadow: 0 0 12px aqua;
    background-color: white;
    border-radius: 16px;
    gap: 24px;
}

.series-img {
    border-radius: 10px;
}

.series-card {
    text-align: start;
}

.series-title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
}

.series-descripcion {
    font-family: "Open Sans", sans-serif;
    text-align: start;
}

.btn-secondary a {
    text-decoration: none;
    color: white;
}

.btn-secondary {
    transition: 0.35s;
}

.btn-secondary:hover {
    transform: scale(1.05);
}

/* estilos de personajes.html */
.pj-card-1 {
    display: flex;
    align-items: end;
    margin: auto;
    padding: 20px;
    height: 80dvh;
    width: 100vh;
    background-image: url(https://i.blogs.es/e85ed7/hayden-christensen-star-wars/1366_2000.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    transition: 0.35s;
}

.pj-card-1:hover {
    transform: scale(1.05);
    box-shadow: 0 0 64px rgba(255, 255, 255, 0.2);
}

.pj-card-2 {
    display: flex;
    align-items: end;
    margin: auto;
    padding: 20px;
    height: 80dvh;
    width: 100vh;
    background-image: url(https://pipocamoderna.com.br/storage/2022/05/obi-wan-kenobi.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    transition: 0.35s;
}

.pj-card-2:hover {
    transform: scale(1.05);
    box-shadow: 0 0 64px rgba(255, 255, 255, 0.2);
}

.pj-card-3 {
    display: flex;
    align-items: end;
    margin: auto;
    padding: 20px;
    height: 80dvh;
    width: 100vh;
    background-image: url(https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2019/11/star-wars-nueva-esperanza-luke-skywalker.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    transition: 0.35s;
}

.pj-card-3:hover {
    transform: scale(1.05);
    box-shadow: 0 0 64px rgba(255, 255, 255, 0.2);
}

.pj-card-4 {
    display: flex;
    align-items: end;
    margin: auto;
    padding: 20px;
    height: 80dvh;
    width: 100vh;
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/leia-organa-main_9af6ff81.jpeg);
    background-position: center;
    border-radius: 16px;
    transition: 0.35s;
}

.pj-card-4:hover {
    transform: scale(1.05);
    box-shadow: 0 0 64px rgba(255, 255, 255, 0.2);
}

.pj-card-5 {
    display: flex;
    align-items: end;
    margin: auto;
    padding: 20px;
    height: 80dvh;
    width: 100vh;
    background-image: url(https://www.starwarsnewsnet.com/wp-content/uploads/2023/08/Ahsoka-Mandalorian-Rosario-Dawson-e1690963140716.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    transition: 0.35s;
}

.pj-card-5:hover {
    transform: scale(1.05);
    box-shadow: 0 0 64px rgba(255, 255, 255, 0.2);
}

.pj-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 12px;
}

/* estilos para contacto.html */
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 500px;
    height: 70dvh;
}

.btn-form {
    margin-top: 20px;
}

::placeholder {
    font-family: "Open Sans", sans-serif;
}