/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* reset universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos de navbar */
.navbar-brand {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
}

.nav-link {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
}

.active {
    color: yellow !important;
    text-shadow: 0 0 12px yellow;
}

/* estilos de index.html */
.main-content-index {
    background-image: url(https://r4.wallpaperflare.com/wallpaper/1005/822/563/star-wars-death-star-at-at-space-wallpaper-abe6bced53f1bfb9a5847bf93dac5c90.jpg);
    background-size: cover;
    background-position: center;
}

.main-section-img {
    background-image: url(https://e00-marca.uecdn.es/assets/multimedia/imagenes/2023/05/04/16831803848910.jpg);
    height: 50dvh;
    width: 70dvw;
    background-position: center;
    background-size: cover;
    border-radius: 16px !important;
    transition: 0.35s;
}

.hero-section h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
}

.hero-section p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    padding: 16px;
}

.btn a {
    color: white !important;
}

.info-general h2 {
    font-family: "Libre Franklin", sans-serif;
    font-size: 28px;
    padding-top: 40px;
    color: aqua;
}

.info-general p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 16px;
}

.end-phrase p {
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    color: greenyellow !important;
    text-shadow: 0 0 12px greenyellow;
    padding: 16px;
}

.end-phrase h3 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.end-phrase-img {
    background-image: url(https://static.wikia.nocookie.net/shaniverse/images/9/92/Jinn.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
    border-radius: 16px !important;
}